{
    "presets": ["env", "react"],
    "env": {
        "development": {
          "plugins": [
            ["babel-plugin-transform-class-properties"]
          ]
        },
        "production": {
        }
    },
    "plugins": [
      ["transform-runtime", {
        "polyfill": false,
        "regenerator": true
      }]
    ]
}
